<!DOCTYPE HTML>
<html>
<head>
    <title>RhoConnect.js sample applications</title>
</head>
<body>
<h2>RhoConnect.js sample applications</h2>
<ul>
  <li><a href="/samples/senchatouch/index.html">Usage sample with SenchaTouch</a>
      (<a href="/samples/apk/RhoConnect-SenchaTouch.apk">download as Android PhoneGap application</a>)
  </li>
  <li><a href="/samples/senchastore-gmap/index.html">Usage sample in PhoneGap application with GoogleMap API and SenchaTouch store</a><br>
      (<a href="/samples/apk/PhoneGap-SenchaData.apk">download as Android PhoneGap application</a>)
  </li>
  <li>
      <a href="/samples/jqmobile-persistencejs-gmap/index.html">Usage sample with GoogleMap API, jQueryMobile and Persistence.js</a>
      (<a href="/samples/apk/jQueryMob-PersistenceJS.apk">download as Android PhoneGap application</a>)
  </li>
</ul>
</body>
</html>
